@media not all and (--media-xl){

  nav{
    gap: 20px !important;
  }

  nav a{
    display: none;
  }

  #nav-menu-icons {
    display: none;
  }

  #nav-mobile-menu-icon {
    display: initial !important;
    margin-top: 25px;
  }

  .l-header .container {
    display: flex;
    justify-content: space-between;
  }
}

#nav-menu-icons {
  & svg {
    padding-top: 5px;
    margin-left: 20px;
  }
  margin-top: 26px;
}

nav {
  #logo {
    margin-top: 14px;
    padding-right: 146px;
  }

  & a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500;
    margin-top: 32px;
  }

  display: flex;
  gap: 64px;
}

.nav-mobile-menu-collapsible {
  align-items: center;
  & a {
    height: 72px;
  }
}

#nav-mobile-menu-icon {
  display: none;
}

#last-link-nav {
  border-right: 1px;
  padding-right: 32px;
  border-right-style: solid;
  border-right-color: dimgray;
}
