.layout-description-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px;
  border-bottom: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: black;
  border-bottom-color: black;
}

.component-description {
  margin-top: 20px;
}

.description-text {
  margin-left: 15px;
}
