@media only screen and (max-width: 1350px){

  nav{
    gap: 20px !important;
  }

  nav a{
    display: none;
  }

  #nav-menu-icons {
    display: none;
  }

  #mobile-menu-icon {
    display: initial !important;
    margin-top: 25px;
  }
  .l-header .container {
    display: flex;
    justify-content: space-between;
  }
}

nav #logo {
  margin-top: 14px;
  padding-right: 146px;
}

#last-link-nav {
  border-right: 1px;
  padding-right: 32px;
  border-right-style: solid;
  border-right-color: dimgray;
}

#nav-menu-icons svg {
  padding-top: 5px;
  margin-left: 20px;
}

nav a {
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
  margin-top: 32px;
}

nav {
  display: flex;
  gap: 64px;
}

.nav-mobile-menu-collapsible {
  align-items: center;
  display: none;
}

.nav-mobile-menu-collapsible a{
  height: 72px;
}

#nav-mobile-menu-icon {
  display: none;
}

#nav-menu-icons {
  margin-top: 26px;
}
