@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@media only screen and (max-width: 850px){
  #layout-main-image {
    display: none;
  }

  #component-reservation-box {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  #layout-reservation-wrap {
    justify-content: space-evenly;
  }
}

#component-reservation-box{
  box-shadow: 0px 12px 30px #00000029;
  border-radius: 22px;
  width: 404px;
  height: 401px;
  padding: 35px;
  margin-top: 144px;
  margin-left: 0px;
  margin-right: -125px;
  background-color: white;
}

#component-reservation-box button {
  padding-left: 130px;
  padding-right: 130px;
  height: 53px;
}

#component-reservation-box h4 {
  font-size: 10px;
  letter-spacing: 0.3px;
  font-family: "Galano Grotesque";
}

#component-reservation-box h1 {
  font-size: 25px;
  text-align: left;
  font-family: "Galano Grotesque";
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.38px;
  padding-top: 5px;
}

.reservation-price {
  padding-bottom: 25px;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.reservation-price div {
  justify-content: space-between;
}

.reservation-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
}

.reservation-price .item {
  text-decoration: underline;
  font-family: "Galano Grotesque";
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
}

.price {
  font-family: "Galano Grotesque";
  font-size: 16px;
  color: #60A8B2;
}



#reservation-confirmation-box{
  box-shadow: 0px 12px 30px #00000029;
  border-radius: 22px;
  width: 404px;
  height: 722px;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#reservation-confirmation-box h1 {
  font-family: "Galano Grotesque";
  font-size: 25px;
  margin-top: 5px;
  font-weight: 800;
}

#reservation-confirmation-box button {
  padding-left: 130px;
  padding-right: 130px;
  height: 53px;
}

#reservation-confirmation-box .ui-input-group {
  width: 334px;
  margin-top: 20px;
  margin-bottom: 20px;
}
