.DS_Store
.idea
.docker
node_modules
/app/Model
/app/Services
/app/Presenters
/config
/log
/cms
/log/*
/temp/*
/vendor
/public/admin
/public/assets/
/public/**/*.html
/public/*.json
/public/userfiles
Makefile
rector.php
docker-compose.yml
composer.json
composer.lock
!.gitkeep
