@import "winduum/src/main.css";
@import "winduum/src/tailwind.css";
@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

#main-img{
  max-height: 558px;
  max-width: 939px;
  border-radius: 39px;
  margin-top: 65px;
  position: relative;
  z-index: -1;
}

.head-img {
  min-width: 618px;
  width: 618px;
  height: 432px;
  border-radius: 24px;
}

.photos {
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 24px;
}

.photo-grid {
  gap: 24px;
}

.photo-grid img {
  min-width: 297px;
  min-height: 204px;
  width: 297px;
  height: 204px;
  border-radius: 24px;
}
