@import "winduum/src/main.css";
@import "winduum/src/tailwind.css";
@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@media only screen and (max-width: 850px){
  #main-img {
    display: none;
  }

  #reservation-box {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  #reservation-wrap {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1380px){
  .photos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo-grid {
    justify-content: center;
  }
}

@media only screen and (max-width: 1350px){

  nav{
    gap: 20px !important;
  }

  nav a{
    display: none;
  }

  #menu-icons {
    display: none;
  }

  #mobile-menu-icon {
    display: initial !important;
    margin-top: 25px;
  }
  .l-header .container {
    display: flex;
    justify-content: space-between;
  }
}

.mobile-menu {
  align-items: center;
  display: none;
}

.mobile-menu a{
  height: 72px;
}

#mobile-menu-icon {
  display: none;
}
